<?php
/*  Database and other configuration information - Required!!  
 -- Configure the Variables Below --

*/

$org_name     = 'UltraScan III LIMS';
$org_site     = 'uslims.uleth.ca';
// No exec(): SELinux denies httpd_t a shell, which left $cfgfile empty.
$us3pwentry   = function_exists( 'posix_getpwnam' ) ? posix_getpwnam( 'us3' ) : false;
$cfgfile      = ( $us3pwentry ? $us3pwentry['dir'] : '/home/us3' ) . '/lims/.us3lims.ini';
$configs      = parse_ini_file( $cfgfile, true );

$dbusername   = 'new_us3user';  # the name of the MySQL user
$dbpasswd     = $configs[ 'newus3' ][ 'password' ];  # the password for the MySQL user
$dbname       = 'newus3';  # the name of the database
$dbhost       = 'localhost'; # the host on which MySQL runs, generally localhost
?>

